.Navbar{
    /* position: fixed; */
    top: 0;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 8px 40px grey;
    padding: 20px 20px;
    background-color: black;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.Navbar h1{
    order: 1;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
}

.Menu{
    display: flex;
    gap: 10px;
    align-items: center;
}


/* edit search bar */
.searchbar{
    border: 2px solid black;
    width: 400px;
    font-family: var(--font3);
    font-size: 1.3rem;
}

.searchbar:focus{
    text-decoration: none;
}


/* //for .hameburger menu */
.hameburger{
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.menuicon{
    margin-right: 20px;
    display: none;
}

/* media queries */
@media (max-width:768px) {
    .SearchBar{
        display: none;
    }
}
@media (max-width:300px) {
    .Menu{
        display: none;
    }
    .notification-icon{
        display: none;
    }
}
